[Unit]
Description=f firewall engine (XDP/eBPF)
After=network-pre.target systemd-networkd.service
Before=network.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fd -c /etc/f/fd.yaml run
Restart=on-failure
RestartSec=5s

User=root
RuntimeDirectory=f

StandardOutput=journal
StandardError=journal
SyslogIdentifier=fd

[Install]
WantedBy=multi-user.target
